<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
</head>
<body>
    <h1><%= locals.title %></h1>
    <ul>
        <% locals.cart.forEach(element => { %>
            <li>
                <p><%= element.title %></p>
                <p><%= element.price %> <%= element.currency %> per <%= element.unittype %>.</p>
            </li>
        <% }); %>
    </ul>
    <p>Total: <%= locals.cartTotal.toFixed(2) %> kr.</p>
    <button>Betal</button>
</body>
</html>