<%- include('partials/head.ejs') %>
<body>
    <%- include('partials/header.ejs') %>
    <h1>
        <%= locals.title %>
    </h1>
    <ul>
        <% locals.cart.forEach(element=> { %>
            <li>
                <p>
                    <%= element.title %>
                </p>
                <p>
                    <%= element.price %>
                        <%= element.currency %> per <%= element.unittype %>.
                </p>
            </li>
            <% }); %>
    </ul>
    <p>Total: <%= locals.cartTotal.toFixed(2) %> kr.</p>
    <button>Betal</button>
    <%- include('partials/scripts.ejs') %>
</body>

</html>