<%- include('partials/head.ejs') %>
<body>
    <!-- <%- include('partials/header.ejs') %> -->
    <h1 class="signup-title">Registrer bruger</h1>
    <div class="signup">
        <p>
            <%= locals.errorMsg %>
        </p>
        <form action="/login/signup" method="POST" class="signup-form">
            <label for="firstname">Fornavn</label>
            <input type="text" placeholder="Fornavn" name="firstname" required />

            <label for="lastname">Efternavn</label>
            <input type="text" placeholder="Efternavn" name="lastname" required />

            <label for="email">Email</label>
            <input type="email" placeholder="Email" name="email" required />

            <label for="password">Kode</label>
            <input type="password" placeholder="Kode" name="password" required />

            <button type="submit">Registrer</button>
        </form>
    </div>
    <%- include('partials/footer.ejs') %>
    <%- include('partials/scripts.ejs') %>
</body>

</html>